.button {
  background-color: black;
  color: aliceblue;
  padding: 0.5em 1.5em;
  border-radius: 1.5em;
  border: none;
  cursor: pointer;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
