.textarea {
  background-color: #89fc00;
  color: black;
  width: calc(100% - 1em);
  min-height: calc(100% - 1em);
  border: none;
  padding: 0.5em;
  margin: 0.5em;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;

  /* overflow-y: visible; */
}
.textarea:focus {
  outline: none;
}

.textarea::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
